/* You can add global styles to this file, and also import other style files */
html{
   background-image: url("fly8.png"); 
   background-attachment: fixed;
   background-repeat: no-repeat;
}
body{
  background-image: url("pyment2.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 400px 400px;
 
}
  